<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <form action="" method="post">
          {% csrf_token %}
          <div>
              <label for="stamp_car">Stamp car</label><br>
              <input name="car" type="text" id="stamp_car">
          </div>
          <div>
              <label for="year">Year</label><br>
              <input name="year" type="number" id="year">
          </div>
          <div>
              <label for="color" >Your cars color</label><br>
              <input name="color" type="text" id="color">
          </div>
          <div>
              <label for="mileage">mileage car</label><br>
              <input name="mileage" type="number" id="mileage">
          </div>
          <div>
              <label for="cost">cost</label><br>
              <input name="cost" type="number" id="cost">
          </div><br>

          <button name="add_button" type="submit">add car</button>
    </form>
</body>
</html>